
.heading
{
font-size: 23px;
width: 100%;
margin: 0px;
box-shadow: 5px 5px 5px grey;
}

#status
{
font-size: 18px;
}
body
{
  background-size: cover;
  background-position:center;
}

a{
  color: black;
}